body {
	padding: 0;
	margin: 0;
	font-family: Î¢ÈíÑÅºÚ, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

a,ul,li,p {
	text-decoration: none;
	padding: 0;
	margin: 0;
	list-style-type: none
}

a,img {
	border: none
}

.top {
	height: 60px;
	background: #438eb9
}

.topleft {
	width: 40%;
	float: left;
	font-size: 25px;
	line-height: 60px;
	color: #fff;
	padding-left: 20px;
}

.topright {
	width: 50%;
	float: right
}

.yonghulan {
	height: 30px;
	line-height: 30px;
	text-align: right;
	color: #fff;
	padding-top: 12px;
	padding-right: 10px;
}

.yonghulan a {
	color: #7cb074
}

.topnav {
	height: 30px;
}

.topnav ul li {
	float: right;
}

.topnav ul li a {
	display: block;
	width: auto;
	padding: 0 13px;
	height: 30px;
	line-height: 30px;
	background: #62a8d1;
	margin-left: 1px;
	color: #fff;
	font-size: 14px;
}

.topnav ul li a:hover {
	background: #2e6589
}

.topnav ul li a.topnavdanqian {
	background: #fff;
	color: #2e6589;
	font-weight: bold
}

.mianleft {
	width: 15%;
	top: 0;
	bottom: 0;
	background: #f2f2f2;
	border-right: 1px solid #ccc;
	position: fixed;
	height: 519px;
}

.leftnavtop {
	height: 25px;
	background: #fafafa;
	border-bottom: 1px solid #ddd;
	padding: 5px 5px 5px 1px;
}

.toubiaoren {
	float: left;
	text-align: center;
	font-size: 13px;
	margin: 0 0 0 4px;
}

.toubiaoren a {
	display: block;
	float: left;
	border: 2px solid #6eb2df;
	width: 89px;
	height: 27px;
	background: #6eb2df;
	color: #fff;
	line-height: 27px;
	font-size: 13px;
}

.toubiaoren a:hover {
	border: 2px solid #438eb9;
	background: #438eb9;
	cursor: pointer
}

.toubiaoren a.toubiaorendqian {
	border: 2px solid #d15b47;
	background: #d15b47;
	cursor: pointer
}

.fitstk li {
	background: #f9f9f9;
	position: relative;
}

.fitstk li a {
	display: block;
	height: 35px;
	line-height: 38px;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 10px;
	color: #111;
	font-size: 13px;
}

.fitstk li p {
	display: block;
	height: 35px;
	line-height: 38px;
	border-bottom: 1px solid #e5e5e5;
	padding-left: 10px;
	color: #111;
	font-size: 13px;
}

.fitstk li b {
	padding-right: 5px;
	width: 16px;
	height: 17px;
}

.fitstk li b img {
	vertical-align: middle;
	border: none
}

.fitstk li span {
	position: absolute;
	right: 10px;
	color: #1e66ab;
	top: 15px;
}

.zhankailist li a {
	display: block;
	background: url(../images/load/listnav01.gif);
	height: 36px;
	font-weight: normal;
	line-height: 36px;
	padding-left: 32px;
	border: none;
	color: #555
}

.zhankailist li a:hover {
	background: url(../images/load/listnav02.gif);
	color: #105593;
	font-weight: bold
}

.zhankailist li a.erjinavdanqian {
	background: url(../images/load/listnav02.gif);
	color: #105593;
	font-weight: bold
}

.mian_right {
	
	min-height: 100%;
	margin-left: 15%;
}

.weizhi {
	padding-left: 10px;
	line-height: 30px;
	color: #555555
}

#sidebar {
	float: left;
	position: relative;
	width: 15%;
}

.weizhi a {
	color: #0f5983
}

.weizhi span {
	color: #333
}

.rightbiaoti {
	height: 30px;
	border-bottom: 1px dotted #e2e2e2;
	color: #2679b7;
	font-size: 15px;
}

.rightbiaoti i {
	padding: 0 8px 0 0
}

.rightbiaoti a {
	float: right;
	padding-right: 10px;
	font-size: 13px;
	color: #666
}

.rightbiaoti a:hover {
	color: #d15b47
}

.contantmian {
	padding: 0px 1px 0px 1px;
}

.centerFrame {
	padding: 12px 7px 0px 12px;
}

.xuanxiankak {
	margin-top: 10px;
}

.xuanxiankak_left {
	width: 75%;
	float: left
}

.xuanxiankak_right {
	width: 24%;
	float: right
}

.tablistbg {
	height: 32px;
	height: 33px !important;
}

.tablistbg li {
	float: left;
	font-size: 14px
}

.tablistbg li a {
	display: block;
	padding: 6px 10px;
	background: #fafafa;
	float: left;
	border-radius: 4px 4px 0 0;
	border-top: 1px solid #c5d0dc;
	border-left: 1px solid #c5d0dc;
	border-right: 1px solid #c5d0dc;
	margin-right: 1px;
	color: #333;
	z-index: 12;
}

.tablistbg li a span {
	background-color: #d15b47;
	border-radius: 10px;
	color: #fff;
	font-size: 12px;
	min-width: 10px;
	padding: 3px 7px;
	text-align: center;
	white-space: nowrap;
}

.tablistbg li a:hover {
	background-color: #f1f5fa;
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
	color: #48768e;
	cursor: pointer;
	border-top: 3px solid #4c8fbd;
	font-weight: bold;
}

.tablistbg li a.tablistdanqian {
	background-color: #f1f5fa;
	font-weight: bold;
	box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.1);
	color: #48768e;
	cursor: pointer;
	border-top: 3px solid #4c8fbd;
	z-index: 12;
}

.datekuang {
	border: 1px solid #d6e1ea;
	z-index: 11;
}

.tongyongbiaogetop {
	background: #f1f5fa
}

.tongyongbiaogetop td {
	padding: 0 10px;
	color: #4c8fbd;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #d6e1ea;
}

.tongyongnerongbiaoge td {
	padding: 0 10px;
	color: #222;
	font-size: 13px;
	border-bottom: 1px solid #eaedf1;
}

.tongyongnerongbiaoge td  a {
	color: #609fc4;
	text-decoration: underline
}

.fenye {
	background: #f1f1f1;
	height: 30px;
	line-height: 30px;
}

.fenye a {
	padding: 0 5px;
	color: #666
}

.fenye a:hover {
	text-decoration: underline;
	color: #609fc4
}

.tongzhigonggao ul li {
	line-height: 35px;
	font-size: 14px;
	border-bottom: 1px dashed #eeeeee
}

.tongzhigonggao ul li a {
	color: #444
}

.tongzhigonggao ul li a:hover {
	color: #d15b47;
	text-decoration: underline
}

.jianju {
	height: 15px;
}

.daibanshixiang {
	margin-bottom: 15px;
	padding-top: 15px;
	height: 165px;
}

.dbsxkuangjia {
	width: 100px;
	height: auto;
	float: left;
	margin: 0 16px 0 0;
	padding: 10px 15px;
	border: 1px solid #fff
}

.dbsxkuangjiaxuanzhong {
	width: 100px;
	height: auto;
	float: left;
	margin: 0 16px 0 0;
	padding: 10px 10px;
	border: 1px solid #b4d2e1;
	background: #edf3f7;
}

.dbsxkuangjia:hover {
	background: #f9f9f9;
	cursor: pointer;
	border: 1px solid #ddd
}

.ruweitubiao {
	height: 90px;
	width: 90px;
	position: relative;
}

.lvse {
	background: url(../images/load/luse.png) center center no-repeat;
}

.qianhui {
	background: url(../images/load/qianhui.png) center center no-repeat;
}

.shenghong {
	background: url(../images/load/shenghong.png) center center no-repeat;
}

.shenghong b i {
	top: 29px;
	left: 31px;
	position: absolute
}

.zise b i {
	top: 29px;
	left: 31px;
	position: absolute
}

.chengse b i {
	top: 23px;
	left: 21px;
	position: absolute
}

.zise {
	background: url(../images/load/zise.png) center center no-repeat;
}

.qianlan {
	background: url(../images/load/qianlan.png) center center no-repeat;
}

.chengse {
	background: url(../images/load/chengse.png) center center no-repeat;
}

.shenglan {
	background: url(../images/load/shenglan.png) center center no-repeat;
}

.ruweitubiao i {
	position: absolute;
	top: 23px;
	left: 25px;
	color: #fff
}

.zigerusheng {
	text-align: center;
	margin-top: 5px;
}

.daibanshixianbiaoti {
	font-size: 14px;
	color: #555
}

.shixiangshu {
	color: #CC3300;
	font-size: 14px;
}

.daibanxuanzhongnerong {
	background: #f5f5f5;
}

.gongsilist {
	border-bottom: 1px dashed #dfdfdf;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
}

.gongsitextbiaoti {
	line-height: 30px;
	font-size: 14px;
	color: #000;
	font-weight: bold
}

.gongsitextbiaoti a {
	color: #609fc4;
	text-decoration: underline;
	padding: 0 0 0 30px;
}

.xiangmunerong {
	font-size: 14px;
	color: #555
}

.chakanxiangqin {
	padding: 5px 6px;
	background: #438eb9;
	color: #fff;
	border: none
}

.chakanxiangqin:hover {
	background: #6fb3e0;
	cursor: pointer
}

.hulue {
	padding: 5px 6px;
	background: #555555;
	color: #fff;
	border: none;
	cursor: pointer
}

.caozuoanniu {
	margin-top: 10px;
}

.xiangxiye {
	font-size: 13px;
}

.xiangxiyebiaoti {
	color: #111;
}

.xiangxiyebiaoti span {
	color: #FF0000
}

.xiangxiye td {
	padding: 0 5px;
}

.zhangkai {
	color: #2b7dbc;
	background: #f1f1f1;
	font-size: 14px;
}

.zhangkai a {
	color: #2b7dbc;
	padding: 0 5px 0 0;
	text-decoration: underline
}

.xiangxikuangj {
	border: 1px solid #a6d7e1
}

.xiangxikuangj_top {
	height: 30px;
	border-bottom: 1px solid #a6d7e1;
	background: #d9edf7;
	font-size: 16px;
	color: #2e73a4;
	font-weight: bold;
	padding-left: 10px;
	line-height: 30px;
}

.xiangmuxinxinerong {
	padding: 10px;
	OVERFLOW-Y: auto;
	height: 400px;
}

.tianxiekuang01 {
	width: 96.2%;
	height: 29px;
	line-height: 29px;
	border: 1px solid #d6e1ea;
	background: #f1f5fa;
	color: #666;
	padding: 0 5px;
}


.tianxiekuang04 {
	width: 45%;
	height: 29px;
	line-height: 29px;
	border: 1px solid #d6e1ea;
	background: #f1f5fa;
	color: #666;
	padding: 0 5px;
}

.tianxiekuang05 {
	width: 30%;
	height: 29px;
	line-height: 29px;
	border: 1px solid #d6e1ea;
	background: #f1f5fa;
	color: #666;
	padding: 0 5px;
}
.tianxiekuang03 {
	width: 100%;
	height: 29px;
	line-height: 29px;
	border: 1px solid #d6e1ea;
	background: #f1f5fa;
	color: #666;
	padding: 0 5px;
}

.shijianbg {
	width: 100%;
	height: 30px;
	border: 1px solid #d6e1ea;
	background: #f1f5fa;
	color: #666;
	padding: 0 5px;
}

.tianxiekuang02 {
	height: 30px;
	border: none;
	background: none;
	color: #666;
	padding: 0 5px;
}

.wenzileiyanshi {
	color: #666;
	font-size: 13px;
}

.xialayanshi {
	width: 94%;
	border: 1px solid #d6e1ea;
	background: #f1f5fa;
	color: #666;
	padding: 5px;
}

.xialayanshi2 {
	width: 8%;
	border: 1px solid #d6e1ea;
	background: #f1f5fa;
	color: #666;
	padding: 5px;
}

.xialayanshi3 {
	width: 12%;
	border: 1px solid #d6e1ea;
	background: #f1f5fa;
	color: #666;
	padding: 5px;
}
.xialayanshi4 {
	width: 18%;
	border: 1px solid #d6e1ea;
	background: #f1f5fa;
	color: #666;
	padding: 5px;
}
.shjianyanshi {
	width: 160px;
	border: 1px solid #d6e1ea;
	background: #f1f5fa;
	color: #666;
	height: 30px;
}

.shjianyanshi a {
	color: #438eb9
}

.shijiankuang {
	width: 120px;
	border: none;
	background: none;
	color: #666;
	padding: 0 5px;
	height: 30px;
	line-height: 30px;
}

.biaogetoubu {
	background: #f1f1f1
		/* border:1px solid #ddd; background:url(../images/load/bgtopbg.gif) bottom repeat-x; border-collapse:collapse */
}

.biaogetoubu td {
	padding: 0 5px;
	font-weight: bold;
	font-size: 13px;
}

#senfe {
	border-top: #ddd 1px solid;
	border-left: #ddd 1px solid;
}

#senfe td {
	border-right: #ddd 1px solid;
	border-bottom: #ddd 1px solid;
	padding: 0 5px;
}

.red {
	color: #d15b47;
	cursor: pointer
}

.green {
	color: #87b87f;
	cursor: pointer
}

.blue {
	color: #6fb3e0;
	cursor: pointer
}

.yellow {
	color: #ffb752;
	cursor: pointer
}

.youbiangeng {
	color: #FF3300
}

.weishangchuang {
	color: #ffb752
}

.gongnenganniu {
	border-top: 1px solid #a6d7e1;
	color: #2e73a4;
	font-size: 15px;
	font-weight: bold;
	height: 45px;
	line-height: 35px;
	padding-left: 10px;
	padding-top: 10px;
}

.gongnenganniu a {
	display: block;
	width: 100px;
	height: 35px;
	float: left;
	background: #6fb3e0;
	text-align: center;
	color: #fff;
	margin-right: 10px;
}

.gongnenganniu a:hover {
	background: #438eb9
}

.beizhuyangshi {
	border: 1px solid #d6e1ea;
	padding: 5px;
	line-height: 18px;
	background: #f1f5fa;
	height: 160px;
	width: 100%;
	color: #666
}
.beizhuyangshi2 {
	border: 1px solid #d6e1ea;
	padding: 5px;
	line-height: 18px;
	background: #f1f5fa;
	height: 88px;
	width: 96.5%;
	color: #666
}
.huiyifenglei {
	height: 50px;
}

.huiyifenglei_left {
	width: 20%;
	float: left;
	margin-right: 10px;
	padding-top: 5px;
}

.huiyifenglei_left span {
	float: left;
	padding: 10px;
}

.daiqueren {
	display: block;
	width: 20px;
	height: 20px;
	background: #feec74;
	float: left;
	margin-right: 5px;
}

.keyong {
	display: block;
	width: 20px;
	height: 20px;
	background: #68be70;
	float: left;
	margin-right: 5px;
}

.yizhangman {
	display: block;
	width: 20px;
	height: 20px;
	background: #d81717;
	float: left;
	margin-right: 5px;
}

.huiyifenglei_center {
	width: 60%;
	float: left;
	margin-right: 10px;
	position: relative
}

.qianyitian {
	width: 70px;
	position: absolute;
	left: 10px;
	top: 10px;
}

.qianyitian a {
	display: block;
	height: 25px;
	line-height: 25px;
	background: #f1f1f2;
	border: 1px solid #2f2f2f;
	text-align: center;
	width: 70px;
}

.qianyitian a:hover {
	background: #438eb9;
	color: #fff
}

.huiyiriqi {
	width: 40px;
	position: absolute;
	left: 90px;
	top: 15px;
}

.huiyiriqikuang {
	width: 180px;
	position: absolute;
	left: 120px;
	top: 10px;
	color: #666;
	border: 1px solid #dfdfdf;
	background: #f1f1f2;
}

.huiyiriqikuang a {
	color: #666
}

.huiyiriqikuangk {
	width: 140px;
	height: 25px;
	color: #444;
	padding: 0 5px;
	border: none;
	background: #f1f1f2;
}

.xiayitian {
	width: 70px;
	position: absolute;
	left: 310px;
	top: 10px;
}

.xiayitian a {
	display: block;
	height: 25px;
	line-height: 25px;
	background: #f1f1f2;
	border: 1px solid #2f2f2f;
	text-align: center;
	width: 70px;
}

.xiayitian a:hover {
	background: #438eb9;
	color: #fff
}

.huiyifuxuan {
	width: 15%;
	float: right;
	padding-top: 15px;
	text-align: right;
	padding-right: 10px;
}

.huiyifengleibiaoge {
	height: 20px;
	background: #999999;
	border: 1px solid #898989;
	border-collapse: collapse
}

.huiyifengleibiaoge td {
	border: 1px solid #898989;
	padding: 0 5px;
	font-weight: bold
}

.yudinqinkuanbiao {
	border: 1px solid #898989;
	border-collapse: collapse
}

.bianmai {
	border-right: 1px solid #898989;
	border-bottom: 1px solid #898989;
	background: #cbcbcb;
}

.daiyuerenys {
	background: #feec74;
	border-right: 1px solid #898989;
	border-bottom: 1px solid #898989;
}

.keyongys {
	background: #68be70;
	border-right: 1px solid #898989;
	border-bottom: 1px solid #898989;
}

.yizhangyongys {
	background: #d81717;
	border-right: 1px solid #898989;
	border-bottom: 1px solid #898989;
}

.jiangehui {
	background: #999999;
	border-right: 1px solid #898989;
}

.jiudian {
	width: 17%;
	float: left;
	text-align: left
}

.shidian {
	width: 19%;
	float: left;
	text-align: left
}

.jiudianban {
	width: 20%;
	float: left;
	text-align: left
}

.shidianban {
	width: 19%;
	float: left;
	text-align: left
}

.shiyidian {
	width: 15%;
	float: left;
	text-align: left
}

.shiyidianban {
	width: 10%;
	float: left;
	text-align: right
}

.shisidian {
	width: 21%;
	float: left;
	text-align: left
}

.shisidianban {
	width: 25%;
	float: left;
	text-align: left
}

.shisandian {
	width: 25%;
	float: left;
	text-align: left
}

.shisandianban {
	width: 19%;
	float: left;
	text-align: left
}

.tools {
	float: left;
	margin-right: 5px;
}

.tools a {
	margin-left: 10px;
}

.xiangxikuangj_top span {
	display: inline-block;
	float: right;
	margin-right: 10px;
}

.maintop {
	height: 17px;
	border-top: 1px solid #ccc;
	background: #f2f2f2;
	margin: 0px;
}

.topshousuo {
	border: 1px solid #dfdfdf;
	padding: 8px 0;
	background: #fafafa
}

.topshousuo {
	height: 30px;
	margin: 0 0 10px 0
}

.sousuoleftlist {
	width: 250px;
	float: left;
}
.sousuoleftliste {
	width: 285px;
	float: left;
}

.sousuoleftlist_biaoti {
	width: 80px;
	float: left;
	line-height: 30px;
	text-align: right
}
.sousuoleftlist_biaotie {
	width: 100px;
	float: left;
	line-height: 30px;
	text-align: right
}

.ssleftkuang {
	width: 165px;
	float: left;
	height: 30px;
}
.ssleftkuange {
	width: 185px;
	float: left;
	line-height: 30px;
}

.sskuant {
	width: 96%;
	height: 28px;
	line-height: 28px;
	border: 1px solid #d6e1ea;
	padding: 0 5px;
	color: #666;
	font-family: Î¢ÈíÑÅºÚ
}
.sskuanttextarea {
	width: 96%;
	height: 74px;
	line-height: 28px;
	border: 1px solid #d6e1ea;
	padding: 0 5px;
	color: #666;
	font-family: Î¢ÈíÑÅºÚ
}

.sousuoanniu {
	float: left
}

.sousuoanniu a {
	display: block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #438eb9;
	color: #fff;
	float: left;
	margin-left: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.sousuoanniu a:hover {
	background: #0c97e7
}

.sousuoanniu02 {
	float: left
}

.sousuoanniu02 a {
	display: block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #a5b87f;
	color: #fff;
	float: left;
	margin-left: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.sousuoanniu02 a:hover {
	background: #8bbf22
}

.xlb {
	width: 30px;
	border: 1px solid #dbdbdb;
	/* border-left: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb; */
	background: #fff;
	min-height: 450px;
	position: fixed;
	right: 0px;
	top: 60px;
}

.xlb2{ 
	width:30px; 
    border: 1px solid #dbdbdb;
	background:#fff; 
	min-height:500px; 
	position:fixed; 
	right:0px; 
	top:0px;
}
.xlbzhakai {
	width: 300px;
	border: 1px solid #dbdbdb;
	/* border-left: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb; */
	background: #fff;
	min-height: 450px;
	position: fixed;
	right: 0px;
	top: 58px;
	z-index: 999;
}
.xlbzhakai2{
	width:140px;
	border: 1px solid #dbdbdb;
    background:#fff;
    min-height:500px; 
    position:fixed; 
    right:0px; 
    top:0px; 
    z-index:999
}
.zlbzktop {
	height: 35px;
	border-bottom: 1px solid #dbdbdb;
	text-align: center;
	padding-top: 5px;
}
.xlblist {
	padding: 10px;
	height: 360px;
	overflow-y: auto;
}

.xlblist ul li {
	margin-bottom: 5px
}

.xlblist ul li a {
	display: block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #d3d2d2;
	background: #f9f9f9;
	line-height: 30px;
	color: #474444;
	text-align: center
}

.xlblist ul li a:hover {
	background: #7cb074;
	border: 1px solid #7cb074;
	color: #fff
}

.xlblist ul li a.xlbdq {
	background: #438eb9;
	color: #fff;
	border: 1px solid #438eb9
}

.biaogetoubu_b {
	border-collapse: collapse
}

.sousuoanniu_sc {
	float: right
}

.sousuoanniu_sc a {
	display: block;
	width: 70px;
	height: 25px;
	margin-top: 2px;
	line-height: 25px;
	text-align: center;
	background: #438eb9;
	color: #fff;
	float: left;
	margin-left: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.sousuoanniu_sc a:hover {
	background: #0c97e7;
	color: #fff;
	text-decoration: none
}

.sousuotangchuan {
	width: 550px;
	background: #fff;
	position: fixed;
	right: 400px;
	top: 100px;
	z-index: 999
}

.sstangchuantop {
	height: 35px;
	background: #438eb9;
	padding: 0 10px;
}

.sstangchuantop_left {
	width: 200px;
	float: left;
	line-height: 35px;
	font-size: 14px;
	color: #fff
}

.sscha {
	float: right;
	padding-top: 6px;
}

.xmmian {
	border: 1px solid #ddd;

}

.sousuonerong {
	height: auto;
	padding-top: 30px;
	padding-left: 60px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #dfdfdf;
}

.sousuoleftlist_gaoji {
	width: 350px;
	margin-bottom: 15px;
}

.ssleftkuang_gaoji {
	width: 265px;
	float: left;
	height: 30px;
}
.ssleftkuang_gaojitextarea {
	width: 265px;
	float: left;
	height: 90px;
}
.quedinsousuo {
	height: 45px;
}

.sousuoanniu_gaoji {
	width: 90px;
	height: 35px;
	margin: 0 auto
}

.sousuoanniu_gaoji a {
	display: block;
	width: 90px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	background: #438eb9;
	color: #fff;
	float: left;
	margin-left: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 16px;
}

.sousuoanniu_gaoji a:hover {
	background: #0c97e7
}

.ssleftkuang_data {
	width: 195px;
	float: left;
	border: 1px solid #d6e1ea;
	background: #fff
}

.sskuant_date {
	width: 75%;
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
	color: #666;
	font-family: Î¢ÈíÑÅºÚ;
	border: none;
	float: left
}

.data {
	float: right;
	padding-right: 6px;
	padding-top: 4px;
}

.sousuotangchuan_duan {
	width: 400px;
	background: #fff;
	position: fixed;
	right: 400px;
	top: 100px;
	z-index: 999;
}

.sousuonerong_duan {
	height: auto;
	padding-top: 30px;
	padding-left: 60px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #dfdfdf;
	line-height: 60px;
	padding-bottom: 30px;
}

.sstangchuantop_duan {
	height: 35px;
	background: #87b87f;
	padding: 0 10px;
}

.sousuonerong_duan img {
	vertical-align: bottom;
	margin-right: 10px;
}

.sousuoanniu_duan {
	width: 70px;
	height: 30px;
	margin: 0 auto
}

.sousuoanniu_duan a {
	display: block;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #87b87f;
	color: #fff;
	float: left;
	margin-left: 10px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: 13px;
}

.sousuoanniu_duan a:hover {
	background: #609558
}

.quedinsousuo2 {
	height: 40px;
}

.jaosefpkuang {
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	padding: 30px;
	height: 360px;
}

.jstext {
	color: #438eb9;
	text-align: left;
	font-size: 15px;
	background: #f1f1f1;
	border: 1px solid #ddd;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
}
.jstext span{
	display: inline-block;
	float: right;
	margin-right: 10px;
}
.weifpei {
	width: 245px;
	float: left;
}

.weifpeitop {
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	color: #fff;
	font-size: 16px;
	background: #ffb752;
}

.weipengpeimian {
	height: 220px;
	border: 1px solid #ffb752;
	padding: 20px;
}

.weipengpeimian ul li {
	height: 25px;
	line-height: 25px;
	border-bottom: 1px dashed #dfdfdf;
	font-size: 15px;
}

.shangyianniu {
	height: 30px;
	padding: 15px 0 0 55px;
}

.shangyianniu a {
	display: block;
	width: 60px;
	height: 25px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #ffb752;
	float: left;
	margin-right: 10px;
	text-align: center;
	color: #fff;
	text-align: center;
	line-height: 25px;
}

.shangyianniu a:hover {
	background: #ea9e34
}

.jsppydongk {
	width: 120px;
	float: left;
	padding-top: 60px;
	padding-left: 35px;
}

.jsppydongk ul li {
	margin-bottom: 10px;
}

.yifpei {
	width: 245px;
	float: left;
}

.yifpeitop {
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	color: #fff;
	font-size: 16px;
	background: #87b87f;
}

.yipengpeimian {
	height: 220px;
	border: 1px solid #87b87f;
	padding: 20px;
}

.yipengpeimian ul li {
	height: 25px;
	line-height: 25px;
	border-bottom: 1px dashed #dfdfdf;
	font-size: 15px;
}

.shangyianniulv {
	height: 30px;
	padding: 15px 0 0 55px;
}

.shangyianniulv a {
	display: block;
	width: 60px;
	height: 25px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #87b87f;
	float: left;
	margin-right: 10px;
	text-align: center;
	color: #fff;
	text-align: center;
	line-height: 25px;
}

.shangyianniulv a:hover {
	background: #5b8754
}

.pipeitijiao {
	background: #f1f1f1;
	height: 46px;
	border: 1px solid #ddd;
	padding-top: 10px;
	padding-left: 270px;
}

.pipeitijiao a {
	display: block;
	width: 70px;
	height: 35px;
	line-height: 35px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-align: center;
	color: #fff;
	background: #438eb9;
	float: left;
	margin-right: 10px;
	font-size: 16px;
}

.ssleftkuang_xiala {
	width: 265px;
	float: left;
	height: 30px;
	position: relative
}

.sousuoleftlist_xiala {
	width: 350px;
	margin-bottom: 15px;
	float: left
}

.sskuant_xiala {
	width: 200px;
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
	color: #666;
	font-family: Î¢ÈíÑÅºÚ;
	border: none;
	float: left;
	border: 1px solid #d6e1ea;
}

.bumenanniu {
	width: 39px;
	height: 30px;
	background: url(../images/load/bumeng.jpg);
	border: none;
	cursor: pointer;
	margin-left: 5px;
	float: left
}

.tianxiekuang_xiala {
	width: 96%;
	height: 28px;
	border: 1px solid #d6e1ea;
	background: url(../images/load/bumeng.jpg) right center no-repeat
		#f1f5fa;
	color: #666;
	padding: 0 5px;
	float: left;
}


.tianxiekuang_xiala01 {
	width: 96.2%;
	height: 29px;
	line-height: 29px;
	border: 1px solid #d6e1ea;
	background: url(../images/load/bumeng.jpg) right center no-repeat
		#f1f5fa;
	color: #666;
	padding: 0 5px;
}
.tianxiekuang_xiala02 {
	width: 100%;
	height: 29px;
	line-height: 29px;
	border: 1px solid #d6e1ea;
	background: url(../images/load/bumeng.jpg) right center no-repeat
		#f1f5fa;
	color: #666;
	padding: 0 5px;
}

.biaodanxiala {
	position: relative
}

.xialadingwei {
	width: 100%;
	position: absolute;
	top: 31px;
	background: #fff;
	border: 1px solid #d6e1ea;
	height: 200px;
}

.xiangxiye_biaodan {
	border-collapse: collapse;
}

.xiangxiye_biaodan td {
	border: 1px solid #d6e1ea;
	font-size: 15px;
	padding: 0 5px
}

.biaodanbiaoti {
	background: #f1f5fa
}


.yifpei_quanxian{ width:900px; height:auto; border:1px solid #87b87f}
.yifpei_quanxian3{ width:600px; height:auto; border:1px solid #87b87f}
.quanxiank{ height:330px;}
.yifpei_quanxian_intermediary{width:90%; height:auto; border:1px solid #87b87f}
.quanxiank_intermediary{ height:420px;overflow: auto}
.quanxianmin_intermediary{ padding-top:10px; padding-left:40px;padding-bottom:10px; float:left;width:90%}
.quanxianming_left_intermediary{ width:31%; float:left; text-align:right; color:#666; font-size:14px;}
.quanxianming_left_intermediary span{color:red}
.quanxianmin{ height:290px; padding-top:40px; padding-left:40px; float:left;border-right:1px dashed #87b87f;width:51%}
.quanxianmin2{ height:290px; padding-top:40px; padding-left:40px; float:left;width:90%}
.quanxianright_jk{ height:290px; float:left; width:40%; padding-top:40px; padding-left:40px; overflow-y:auto}
.quanxianming{ margin-bottom:10px; height:30px; line-height:30px;width:95%;}
.quanxianming1{ margin-bottom:10px; line-height:30px;width:95%;}
.quanxianming_left{ width:31%; float:left; text-align:center; color:#666; font-size:14px;}
.quanxianming_left2{ width:31%; height:35px; line-height:16px;float:left; text-align:center; color:#666; font-size:14px;}
.quanxianming_right{ width:68.5%; float:left}
.quanxiancontent{height:100px; border:1px solid #87b87f; overflow-y:auto}
.jiaosequanxianqueding{ height:40px;border-top:1px dashed #87b87f }
.jiaosequanxianqueding a{ display:block; width:60px; height:25px;-moz-border-radius: 5px;-webkit-border-radius: 5px; background:#87b87f; margin-right:10px; text-align:center; color:#fff; text-align:center; line-height:25px;margin:7px auto; float:right; margin-right:10px; }
.jiaosequanxianqueding a:hover{ background:#5b8754}
.quanxianjkuang{ height:230px; border-right:1px dashed #87b87f;float:left; width:360px; width:400px;}

.tianxiekuang05 {
	width: 80%;
	height: 29px;
	line-height: 29px;
	border: 1px solid #d6e1ea;
	background: #f1f5fa;
	color: #666;
	padding: 0 5px;
}
.oneline {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width:500px;
}
.radiospan{
	margin:0px 12px 0px 40px;display:inline-block;line-height:25px;
}
.radiospan2{
	margin:0px 0px 0px 65px;display:inline-block;line-height:25px;
}


.gerenxinxilist{ 
	width:37%;
	float:left; 
	margin-right:10px;
	
}
.gerenxinxilist2{ 
	width:33%;
	float:left; 
	margin-right:10px;
	
}
.gerenxinxilist02{ 
	width:27%; 
	float:left;
	border:1px solid #dddddd;
	height:521px;
}
.gerenxinxilist_kuang{ 
	border-left:1px solid #dddddd; 
	border-right:1px solid #dddddd; 
	border-bottom:1px solid #dddddd; 
	padding:20px 10px; 
	height:440px;
	overflow-y:auto
}
.yhlexing{ 
	margin-top:3px; 
	padding:3px; 
	border:1px solid #d6e1ea; 
	background:#f1f5fa
}
.yhjjie{ 
	background:#f1f5fa;
	border:1px solid #d6e1ea; 
	/* height:150px;  */
	width:100%
}
.shenhuozhao{ 
	height:210px; 
	border-bottom:1px dashed #dfdfdf
}
.shenhuozhao02{ height:290px; }
.cunzhao{ padding:15px 0}
.cunzhao02{ padding:15px}
.cunzhao_left{ 
	width:139px; 
	margin:0 auto
}
.cunzhaotext{ 
	height:40px; 
	text-align:center; 
	font-size:14px; 
	line-height:40px; 
	color:#a2aabd
}
.cunzhao_right{ 
	width:90px; 
	padding-top:10px; 
	margin:0 auto
}
.cunzhao_right a{ 
	display:block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	width:90px; height:35px; line-height:35px; background:#87b87f; color:#fff; text-align:center; font-size:15px;} 
.cunzhao_right2{ 
	width:90px; 
	padding-top:10px; 
	margin:0 auto
}
.cunzhao_right2 a{ 
	display:block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	width:90px; height:35px; line-height:35px; background:#87b87f; color:#fff; text-align:center; font-size:15px;} 
.cunzhao_right a:hover{ background:#49a5da}

.cunzhao_leftsh{ width:200px; height:217px; text-align:center; background:#c4ccdf; margin:0 auto}
.cunzhao_right02{ width:90px; margin:0 auto; padding-top:10px; }
.cunzhao_right02 a{ display:block;-moz-border-radius: 5px;-webkit-border-radius: 5px; width:90px; height:35px; line-height:35px; background:#438eb9; color:#fff; text-align:center; font-size:15px; } 
.cunzhao_right02 a:hover{ background:#49a5da}
.quanxianming_right02{ width:230px; float:left; position:relative}
.xingxixialakuang{ width:212px; position:absolute; top:31px; left:0; background:#f1f5fa; border:1px solid #d6e1ea; padding:0 10px;}
.xingxixialakuang ul li{ height:35px; line-height:35px; border-bottom:1px dashed #dfdfdf}
.tianxiekuang03{ width:228px; height:30px; border:1px solid #d6e1ea; background:#f1f5fa; color:#666; padding:0 5px;}
.grxinxibigk{ height:521px;}

.xingxixialakuang3{ width:208px; position:absolute; top:31px; left:0; background:#f1f5fa; border:1px solid #d6e1ea; padding:0 10px;}
.xingxixialakuang3 ul li{ height:35px; line-height:35px; border-bottom:1px dashed #dfdfdf}

