@charset gbk;/*!@author:Helen. @update:2015-07-20*/ 
/* 基本配置 */
html{color:#333; overflow-y:scroll; -webkit-text-size-adjust:none; font-size:1.4em; background:#f2f2f2;}
body,h1,h2,h3,h4,h5,h6,hr,p,img,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0; padding:0; border:0;}
body,button,input,select,textarea,td,tr,th{ font-family:"microsoft yahei";}
table{border-collapse:collapse; border-spacing:0;}
h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%; padding:0px; margin:0px; font-weight:normal;}
ul,li,ol{list-style:none;}
.clear{clear: both; font-size:1px; width:1px; height:0; visibility: hidden; }
img{border:0; vertical-align:middle;}
a,area { blr:expression(this.onFocus=this.blur()) } /* for IE */
:focus { outline: none; }/* for Firefox */

/* 颜色 */
a:link {text-decoration:none; color:#333;}
a:visited {text-decoration:none; color:#333;}
a:active {text-decoration:none; color:#f56262;}
a:hover {text-decoration:none; color:#f56262;}
.font1{ background:#3b9ac6;}/* 蓝 */
.font2{ background:#f56262;}/* 黄 */
.font3{ background:#29ccb7;}/* 绿 */
.font4{ color:#f56262;}/* 黄 */
.font5{font-size:1.3em; color:#000; line-height:2.7em;}
.font6{ color:#29ccb7;}/* 绿 */
.font7{ color:#fe6732;}/* 橘黄 */
.font8{ color:#e5e7ea;}/* 灰 */
.font9{ color:#3b9ac6;}/* 蓝 */
.font10{ color:#333;}/* 黑 */
.font11{ color:#f62e63;}/* 玫红 */
.font12{ color:#f9ae0f;}/* 黄 */
.font13{ color:#18c5c0;}/* 绿 */
.font14{ color:#3abaf8;}/* 黄 */
.font15{ color:#5acb3b;}/* 绿 */
.box{ width:100%; height:100%; margin:0px auto;}

/* 刘双双 */

/* 用户认证 */
.certification{ margin:4%; background:#fff; border:solid 1px #ddd; border-radius:10px; position:relative; z-index:1;}
.certification h1{ width:2.4em; height:2.4em; text-align:center; line-height:2.4em; border-radius:1.2em; color:#fff; margin:5% auto 0px;}
.certification h1 i{ font-size:1.2em;}
.certification h2{ width:100%; text-align:center; line-height:1.8em; font-size:0.9em;}
.certification h3{ width:100%; text-align:center; color:#999; font-size:0.6em; float:left; line-height:2.0em; margin-bottom:2%;}
.certification:hover{background:#f6f6f6;}

.c_transparency{ width:100%; height:100%; border-radius:10px; background:url(../images/hei40.png); position:absolute; z-index:10; text-align:center; }
.c_transparency b{ float:left; float:right; width:2.5em; margin-top:0.3em; margin-right:0.3em; }
.c_transparency b img{ width:100%;}


/* 实名认证 */
.real_name_h3{ width:100%; background:#ffeeee; border-bottom:solid 1px #ddd; color:#666; font-size:0.6em; height:2.7em; line-height:2.7em; }
.real_name_h3 b{ margin-left:4%; font-weight:normal;}

.real_name{ margin:4%; }
.real_name img{ width:100%; border-radius:10px; height:7.5em; }


.login_button1{ margin:4%; color:#fff; text-align:center; background:#3b9ac6; border-radius:10px; height:2.7em; line-height:2.7em; font-size:0.8em;}
.login_button2{ width:46%; margin:0px auto; color:#fff; text-align:center; background:#29ccb7; border-radius:10px; height:2.7em; line-height:2.7em; font-size:0.8em;}
.login_button3{ width:46%; margin:0px auto; color:#fff; text-align:center; background:#3b9ac6; border-radius:10px; height:2.7em; line-height:2.7em; font-size:0.8em; margin-top:1em;}


/* 实名认证 认证失败 */
.real_name_failure{ width:100%; margin:0px auto;}
.real_name_failure h1{ text-align:center; margin:4em auto; font-size:0.9em;}
.real_name_failure h1 i{ font-size:3.5em; color:#f56262;}


/* 实名认证 认证成功 */
.real_name_successful{ width:100%; margin:0px auto;}
.real_name_successful h1{ text-align:center; margin:4em auto; font-size:0.9em;}
.real_name_successful h1 i{ font-size:3.5em; color:#29ccb7;}


/* 实名认证 提示 */
.prompt{width:100%; margin:0px auto;}
.prompt h1{ text-align:center; margin:4em auto; font-size:0.7em; line-height:2.1em; }


/* 我的投诉 + 详情 */
.complaints{ width:100%; background:#fff; float:left; margin-top:0.5em; padding-bottom:0.8em;}
.complaints:hover{ background:#f9f9f9;}
.complaints h3{ width:92%; margin:0px 4%; line-height:3.0em; height:3.0em; float:left; color:#aaa; font-size:0.7em;}
.complaints h3 i{ color:#3b9ac6;}
.complaints h3 b{ float:right; font-weight:normal;}
.complaints h1{ width:92%; margin:0px 4%; line-height:1.4em;  font-size:0.75em; color:#666;}
.complaints h2{ width:92%; margin:0px 4%; line-height:1.4em;  font-size:0.75em; border-top:solid 1px #eeeeee; padding-top:0.8em; margin-top:0.8em; color:#000;}
.complaints h2 i{ color:#fe6732; float:left; width:7%;}
.complaints h2 p{ float:left; width:93%;}


/* 我的资料 + 上传 */
.data_top{ width:100%; background:#e9f1f4; line-height:1.9em; height:1.9em;}
.data_top li{ float:left; width:33.3%; text-align:center;}
.data_top li a{ color:#8ba5ae;}
.data_top li a:hover{ color:#3dadde;}
.data_top i{ font-size:1.0em;}

.data_main{width:100%; background:#fff; float:left; border-bottom:solid 1px #eee; position:relative; min-height:3.6em;}
.data_main:hover{ background:#f9f9f9;}
.data_main h3{ float:left; width:12%; margin-left:4%; margin-right:4%; margin-top:0.7em; margin-bottom:0.7em; height:1.6em; line-height:1.6em;}
.data_main h3 img{ width:100%; height:auto; float:left;}
.data_main h1{ width:66%; float:left; padding-bottom:0.5em;}
.data_main p{  font-size:0.8em; margin-top:0.7em; line-height:1.3em; float:left; width:100%; }
.data_main span{ color:#aaa; font-size:0.6em; margin-top:0.5em; float:left; width:100%;}

.data_main b{ float:right; position:absolute; top:1.1em; right:0.8em;}
.data_main b i{ font-size:1.1em;}

.data_main h2{ float:right; position:absolute; top:1.3em; right:0.8em;}
.data_main h2 i{ font-size:0.9em; color:#ccc;}




.data_bottom{ background:#fff; border-top:solid 1px #dedede; width:100%; float:left; position:fixed; left:0; bottom:0;}
.data_bottom ul li{float:left; width:44%; margin-left:4%; margin-top:0.3em;  margin-bottom:0.3em; line-height:1.8em; height:1.8em;}
.data_bottom ul li a{ float:left; width:100%; text-align:center; font-size:0.8em;}
.data_bottom ul li .data_hui{ background:#e4e4e4; color:#666; border-radius:5px}
.data_bottom ul li .data_lan{ background:#3dadde; color:#fff; border-radius:5px} 
.data_bottom ul li .data_hui:hover{ background:#3dadde; color:#fff;} 
.data_bottom ul li .data_lan:hover{ background:#1690c5; } 

.data_bottom .data_quan{ width:92%;}

.data_list{ width:100%; float:left;}
.data_list ul li{ width:100%; height:2.7em; line-height:2.7em; font-size:0.8em; float:left; border-top:solid 1px #eeeeee; border-bottom:solid 1px #eeeeee; background:#fff; margin-top:0.5em;}
.data_list ul li p{ float:left; margin-left:4%;}
.data_list ul li p i{ font-size:1.0em; margin-right:0.6em;}
.data_list ul li span{ float:right; margin-right:4%;color:#fe6732;}
.data_list ul li span i{ font-size:1.0em; margin-left:0.5em; color:#bbb;}
.data_list li:hover{ background:#f9f9f9;} 

.data_show{ width:100%; float:left; border-top:solid 1px #eeeeee; margin-top:0.5em; }
.data_show ul li{ width:92%; padding:0.8em 4%; line-height:1.4em; font-size:0.75em; float:left; border-bottom:solid 1px #eeeeee; background:#fff;}
.data_show ul li p{ float:left; width:34%;}
.data_show ul li span{ float:left; font-size:0.9em; width:66%; color:#333;}
.data_show_k1{ width:100%; height:auto; border:none; color:#aaa;}/*输入前*/
.data_show_k2{ width:100%; height:auto; border:none; color:#333;}/*输入后*/


/* 我的快递 + 详情 */
.courier_top{ margin:0.4em 4%; width:92%; line-height:1.7em; float:left; background:#fff; border:solid 1px #3dadde; border-radius:5px}
.courier_top ul li{ float:left; width:50%; text-align:center;}
.courier_top ul li a{ color:#3dadde; font-size:0.7em; float:left; width:100%; height:auto;}
.courier_top .courier_top_on{ background:#3dadde; color:#fff; float:left;}

.courier_main{background:#fff; width:100%; float:left; margin-bottom:0.5em; }
.courier_main h3{ float:left; width:100%; line-height:2.6em; font-size:0.7em; border-bottom:solid 1px #eeeeee; color:#999;}
.courier_main h3 i{ float:left; margin-left:4%; margin-right:0.5em;  color:#3b9ac6; font-size:0.6em; }
.courier_main h3 span{ float:right; text-align:center; padding:0px 0.5em; color:#fff; font-size:0.9em;}
.courier_main p{float:left; width:92%; margin:0px 4%; line-height:1.4em; font-size:0.75em; padding:0.7em 0px;  }
.courier_main b{float:left; width:100%; line-height:2.8em; font-weight:normal; border-top:solid 1px #dedede; font-size:0.7em; }
.courier_main b a{ color:#508cee; float:left; text-align:center; width:100%;}
.courier_main b a:hover{background:#f9f9f9;}

.courier_show_top{ width:92%; float:left; background:#fff; line-height:2.7em; height:2.7em; font-size:0.85em; color:#999; padding:0px 4%;}
.courier_show_top i{ color:#3b9ac6; font-size:0.9em;}

.courier_show_main{width:100%; float:left; background:#fff; margin-top:0.5em; font-size:0.7em; padding:1.0em 0px; color:#999;}
.courier_show_link{ border-left:1px #cccccc solid; height:0.9em;}
table.courier_show_table td{ padding:0.2em 0px; line-height:1.3em;}


/* 我的消息 + 详情 */

.information{ width:100%; float:left;}
.information ul li{background:#fff; margin-top:0.5em; float:left;}
.information ul li h3{ border-bottom:solid 1px #eee; line-height:2.0em; height:2.0em; float:left; width:100%; }
.information ul li h3 b{ float:left; font-weight:normal; margin-left:4%; color:#000; font-size:0.8em; width:60%; overflow: hidden; text-overflow:ellipsis; white-space: nowrap; }
.information ul li h3 span{ float:right; margin-right:4%; color:#999; font-size:0.7em; }
.information ul li p{ margin:0.8em 4%; line-height:1.5em; float:left;font-size:0.7em;  color:#666;}
.information a:hover{background:#f9f9f9; }

.information_show{width:92%; float:left; background:#fff; padding:0.8em 4%; }
.information_show h3{ width:100%; float:left; color:#000; font-size:0.8em; line-height:1.5em;}
.information_show span{width:100%; float:left; color:#999; font-size:0.55em; margin-top:0.5em; margin-bottom:0.5em;}
.information_show p{width:100%; float:left; color:#666; font-size:0.6em; line-height:1.8em;}


/* 我的缴费 + 详情 */
.pay_cost{ width:100%; background:#fff; float:left; margin-top:0.5em;}
.pay_cost:hover{ background:#f9f9f9;}
.pay_cost h3{ width:100%; line-height:3.0em; height:3.0em; float:left; color:#aaa; font-size:0.7em; border-bottom:solid 1px #eeeeee;}
.pay_cost h3 i{ color:#3b9ac6; margin-left:4%;}
.pay_cost h3 b{ float:right; font-weight:normal; margin-right:4%;}
.pay_cost h1{ width:65%; margin-left:4%; float:left; padding:0.4em 0px;}
.pay_cost h1 p{ line-height:1.5em; font-size:0.75em; color:#333; float:left; margin-bottom:0.3em;}
.pay_cost h1 span{ line-height:2.0em; font-size:0.65em; color:#666; float:left;}
.pay_cost h2{ width:27%; margin-right:4%; font-size:0.75em; color:#ff0000; float:right; text-align:right; line-height:3.5em; font-size:0.9em;}


/* 我的评价 */
.evaluation{ width:100%; float:left; margin-top:0.5em;}
.evaluation h3{ width:92%; padding:0.5em 4%; background:#fff; float:left; margin-top:0.5em;  font-size:0.75em; line-height:2.4em;}
.evaluation h3 i{  font-size:1.4em; margin-right:0.5em;}

.evaluation span{ width:100%; background:#fff; float:left; margin-top:0.5em; }
.evaluation_text{ width:92%; padding:0.5em 4%; background:#fff; border:none; line-height:1.5em; height:7.0em; font-size:0.75em; color:#999; }


/* 市直部门 */
.department{width:100%; height:100%; margin:0.5em 0px;}
.department ul li{ float:left; margin-bottom:0.4em; margin-left:2.8%; width:25%; padding:2%; border:1px solid #ccc; text-align:center; border-radius:10px; background:#FFFFFF;}
.department ul li p{ float:left; width:96%; text-align:center; margin:0px 2%;}
.department ul li p img{ max-width:100%; height:auto;}
.department ul li span{ float:left; text-align:center; width:100%; line-height:1.8em; font-size:0.65em;}
.department ul li:hover{ border:1px solid #f00;}














/*颜色*/
.green{background:#29ccb7;}
.blue{background:#3b9ac6;}
.red{background:#f56262;}

.green-icon{color:#09c5ac;}

/* 龙慧银 */
.top{float:left; width:100%; height:3.5em; line-height:3.5em; background:#fff; border-bottom:#dddddd solid 1px; font-size:0.7em;}
.top td{float:left;text-align:center;}
.top .top-an{color:#666666; width:30%}
.top .top-on{color:#f56262; width:30%}
.top img{width:1.2em; margin-top:1.4em;}

.content{float:left; width:92%; margin-left:4%;}
.zc-span{float:left; width:100%; margin-top:0.8em; font-size:0.7em;}
.zc-input{float:left; width:100%; margin-top:0.2em;}
.zc-input input{border:#dddddd solid 1px; height:2.7em; line-height:2.7em; float:left; width:98%; padding-left:2%; color:#cbcbcb; font-size:0.7em;}
.zc-input .input-2{border:#dddddd solid 1px; height:1.9em; line-height:1.9em;float:left; width:98%; padding-left:2%; background:#fff; color:#cbcbcb;}
.zc-input .input-2 span{float:left; font-size:0.7em;}
.zc-input .input-2 i{float:right; margin-right:0.5em;font-size:0.7em;}
.zc-botton{float:left; width:100%; color: #fff;text-align: center;background: #3b9ac6;border-radius: 10px;height: 2.7em;line-height: 2.7em;font-size: 0.8em;margin-top: 1em;}
.zc-botton:hover{background:#328db7;}


/*完成注册*/
.wc-div{float:left; width:100%; margin-top:1em; text-align:center;}
.wc-icon{float:left; width:100%; text-align:center;}
.wc-icon i{color:#29ccb7; font-size:3.5em;}
.wc-div h2{float:left; width:100%; text-align:center; font-size:0.9em;}
.wc-div font{float:left; width:100%; text-align:center; color:#999999; font-size:0.6em; margin-top:0.5em;}

.wc-div2{float:left; width:100%; margin-top:1.5em;}
.wc-font{float:left; font-size:0.6em; width:100%; text-align:center;}
.wc-an{float:left; border:#dddddd solid 1px; border-radius:0.3em; background:#fff; margin-top:0.3em; width:100%; padding:0.6em 0em 0.6em 0;}
.wc-an:hover{background:#fafafa;}
.wc-div2-img{float:left; width:2.4em; margin-left:4%; height:2.4em; border-radius:50%; text-align:center; line-height:2.4em;}
.wc-div2-img i{color:#fff; font-size:1.2em;}
.wc-div2-right{float:left; width:69%; margin-left:5%;}
.wc-div2-right p{float:left; width:100%;}
.wc-div2-right h2{float:left;font-size:0.7em; font-weight:normal;}
.wc-div2-right font{font-size:0.6em; color:#333333;float:right;margin-top:0.2em;}
.wc-div2-right span{float:left; width:100%; font-size:0.6em; color:#999; margin-top:0.2em;}

.wc-div3{float:left; width:100%; text-align:center; color:#f56262; font-size:0.6em; margin-top:1em;}
.wc-div3:hover{color:#ff0000;}


/* 注册主页 */
.sy-table{float:left; width:100%; border-top:#dddddd solid 1px; border-bottom:#dddddd solid 1px; margin-top:0.6em; background:#fff;}
.sy-table td{text-align:center; padding:1.5em 0 1.5em 0;}
.sy-table td:hover{background:#fafafa;}
.sy-table .border-right{border-right:#ddd solid 1px;}
.sy-table .sc-icon{width:3.0em; height:3.0em; line-height:3.0em; text-align:center; border-radius:50%; display:inline-block;}
.sy-table .sc-icon i{color:#fff;font-size:1.5em;}
.sy-table td span{float:left; width:100%; text-align:center; margin-top:0.5em; font-size:0.8em;}

.sy-tongyi{float:left; width:100%;background:#fff; margin-top:0.6em;border-top:#dddddd solid 1px; border-bottom:#dddddd solid 1px; padding:0.5em 0 0.5em 0;}
.sy-tongyi .sy-tongyi-icon-kai{float:right; margin-right:3%; width:18%; height:1.2em; background:url(../images/input.png) no-repeat right; text-align:center;}/*同意协议按钮*/
.sy-tongyi .sy-tongyi-icon-guan{float:right; margin-right:3%; width:18%; height:1.2em; background:url(../images/input-no.png) no-repeat right; text-align:center;}/*不同意协议按钮*/
.sy-tongyi font{float:left; color:#666666;font-size:0.65em; margin-left:3%; margin-top:0.2em;}

.sy-xieyi{float:left; width:100%; margin-top:0.6em; background:#fff; padding:0.5em 0 0.5em 0;border-top:#dddddd solid 1px; border-bottom:#dddddd solid 1px; margin-bottom:0.6em;}
.sy-xieyi h5{float:left; width:100%; text-align:center; font-size:0.7em; margin-bottom:1em;color:#000;}
.sy-xieyi p{float:left; font-size:0.6em; text-indent:2em; margin-left:4%; margin-right:4%; color:#888; line-height:2.0em;}

/*公开*/
.gk-table{float:left; margin-left:4%; width:92%; margin-bottom:0.6em;}
.gk-table .gk-an{float:left; width:100%; margin-top:0.6em;}
.gk-table .gk-an img{float:left; width:100%;}

/*便民*/
.content-2{float:left; width:94%; margin-left:3%;}
.bm-div{float:left; width:100%; background:#fff; border-radius:0.3em; border:#ddd solid 1px; margin-top:0.6em;}
.bm-div h3{float:left; width:100%; border-bottom:#ddd solid 1px; line-height:2.2em; font-size:0.7em; font-weight:normal;}
.bm-div h3 font{margin-left:0.8em;}
.bm-div-content{float:left; width:100%;}
.bm-div-an{float:left; width:25%; padding:1em 0 1em 0;}
.bm-div-an .bm-div-icon{float:left; width:100%; text-align:center; height:2em; line-height:2em;}
.bm-div-an .bm-div-icon i{font-size:1.2em;}
.bm-div-an .bm-div-icon .icon-gjj{font-size:1.4em;}
.bm-div-an .bm-div-icon .icon-lvyou{font-size:1.6em;}
.bm-div-an span{float:left; width:100%; text-align:center; font-size:0.6em; color:#666666;}

.green-icon{color:#09c5ac;}
.red-icon{color:#f35e5d;}
.blue-icon{color:#399ac5;}

/*办事*/
.bs-top{float:left; width:100%;}
.bs-top-img{position:absolute; width:100%; height:6em;}
.bs-top-img img{float:left; width:100%; height:100%;}
.bs-top-ss{ float:left; width:80%; margin-left:10%;margin-top:1.4em;Filter: alpha(opacity=90);Opacity: 0.90; background:#fff; height:2.5em; line-height:2.5em; border-radius:10em; font-size:0.6em; color:#929292;}
.bs-top-ss i{float:left; font-size:1.4em; color:#9e9898; width:16%; text-align:center;}

.bs-content{position:absolute; width:100%; top:6em; margin-bottom:0.5em;}
.bs-nav{float:left; width:100%; background:#fff; padding:0.5em 0 0.5em 0;} 
.bs-nav-div{float:left; width:33.3%; text-align:center;}
.bs-nav-div .icon-yuan{display:inline-table; width:2em; height:2em; line-height:2em; text-align:center; color:#fff;border-radius:50%;}
.bs-nav-div .icon-yuan i{font-size:1.1em;}
.bs-nav-div p{font-size:0.7em; margin-top:0.2em;}

.bs-ul{float:left; width:94%; margin-left:3%; background:#fff; border-radius:0.3em; border:#e4e3e8 solid 1px; margin-top:0.5em;}
.bs-ul h3{float:left; width:100%; height:1.5em; line-height:1.5em; border-bottom:#e4e3e8 solid 1px; color:#000;}
.bs-ul h3 font{float:left; margin-left:0.5em; font-size:0.7em;}
.bs-ul ul{float:left; width:100%;}
.bs-ul ul .no-border{border-bottom:none;}
.bs-ul ul li{float:left; width:92%; margin-left:4%; padding:0.5em 0 0.5em 0; border-bottom:#e4e3e8 solid 1px;}
.bs-ul ul li:hover{background:#fafafa;}
.bs-ul ul li .icon-comiisyoujiantou{float:right; margin-right:0.5em; font-size:0.6em; color:#a7a7a7; margin-top:0.2em;}
.bs-ul ul li .icon-weibiaoti2{float:left; margin-right:0.5em; color:#e90c0c; font-size:0.6em; margin-top:0.2em;}
.bs-ul ul li font{font-size:0.7em; float:left; color:#666666;}
.bs-ul ul li .no-f{float:left; margin-left:1.2em;}

.bs-ul-an{float:left;width:100%; overflow-y:auto;}
.bs-ul-an-one{float:left; width:4em; text-align:center; margin:0.5em 0 0.5em 0;}
.bs-ul-an-2{float:left; width:20em;}
.bs-ul-an-one i{color:#13c7af; font-size:1.2em;}
.bs-ul-an-one p{color:#666666; font-size:0.7em; margin-top:0.4em;}

/*企业注册-所属区域*/
.zz-bg{position:fixed; background:url(../images/zhezhao.png) repeat; top:0; bottom:0; left:0; width:100%; z-index:1000;}
.zz-quyu{ position:fixed;width:100%; background:#fff; bottom:0; left:0; z-index:1001;}
.zz-quyu h3{float:left; width:100%; height:1.8em; line-height:1.8em;border-bottom:#ededed solid 1px; text-align:center;}
.zz-quyu h3 span{font-size:0.8em; color:#000;}
.zz-quyu h3 i{float:right; margin-right:1em; color:#bbb; font-size:0.7em;}
.zz-quyu h3 i:hover{color:#f73838;}

.zz-xuanze{float:left; width:100%;border-bottom:#ededed solid 1px; height:1.8em;}
.zz-xuanze p{font-size:0.7em;float:left;margin-left:1em; margin-right:1em; padding-top:0.6em; padding-bottom:0.5em; color:#000;}
.zz-xuanze .on{ border-bottom:#f73838 solid 3px; color:#f73838;}

.zz-ul{float:left; width:100%; overflow-y:auto; height:9.1em;}
.zz-ul li{float:left; width:100%; border-bottom:#ededed solid 1px; line-height:1.8em;}
.zz-ul .no-border{border-bottom:0;}
.zz-ul .an font{color:#000; font-size:0.7em; margin-left:1em; float:left;}
.zz-ul .on font{color:#f73838;font-size:0.7em; margin-left:1em; float:left;}
.zz-ul .on i{float:left; margin-left:0.5em; color:#f73838; font-size:0.7em;}