@charset "utf-8";
body { padding:0; margin:0; font-family:微软雅黑
}
ul,li,p{ padding:0; margin:0; list-style-type:none}
.top{ height:96px; background:url(../wximages/topbg.gif); font-size:40px; color:#fff; line-height:96px; text-align:center}
.top1{ background:#454547; height:80px;}
.top_left{ width:15%; float:left; text-align:left; color:#fff;font-size:30px;}
.top_left img{ vertical-align: middle; }
.top_left a{ color:#fff}
.top_right{ width:15%; float:right; text-align:right}
.topcenter{ float:left; width:70%; text-align:center; color:#ffffff; font-size:35px; line-height:80px;}
.top_right{ width:15%; float:right; text-align:right}
.zhiyuanmian{ width:98%; margin:15px auto; }
.zhiyuanlist{ background:#fff; border:1px solid #d6d4d4; margin-bottom:15px; padding:10px 0}
.zhiyuanbiaoti{ font-size:28px; color:#0484cd; line-height:50px; padding:0 20px;}
.zhiyuanshijian{ line-height:40px; font-size:22px; color:#333; padding:0 20px;}
.tishiwenzi2{ color:red; font-size:32px; line-height:32px;font-family:微软雅黑; padding:40px}
.banshilist{ height:100px; background:url(../wximages/listbg01.gif) bottom center repeat-x}
.banshilist ul li{ float:left; width:33%; line-height:100px; font-size:30px; text-align:center}
.banshilist ul li.xuanxiangkadangwian{background:url(../wximages/listbg02.gif) bottom center repeat-x; color:#0086c3}
.banshimian{ padding:15px; }
.sousbanshi{ height:70px; width:89%; margin:0 15px; border:none;  color:#999; font-size:23px;font-family:微软雅黑; padding-left:40px;}
.banshishurkuang{ height:78px;width:100%; background:#fff; border:1px solid #dedede; background:url(../wximages/fdj.jpg) right center no-repeat}
.banshinerong{ background:#fff; border:1px solid #dedede; padding:15px; margin:10px 15px;}
.banshimerong{ width:180px; height:180px; float:left; text-align:center; margin:6px}
.banshinerong_pic{ height:85px;}
.banshinerong_text{ height:125px; line-height:145px; color:#222}
.zhiyuanmian{ width:98%; margin:15px auto; }
.diqulist{overflow-y:auto;text-align:left;position:fixed;top:300px;left:0px; height:100%; background:#fff; margin-bottom:15px;width:100%; padding:0 20px;z-index:1111}
.diqulist ul li{ height:110px;  font-size:30px; color:#333536; line-height:108px;border-bottom:1px solid #ccd4d9; width:100%; font-family:微软雅黑, 宋体;}
.diqulist ul li a{ display:block; height:110px;  font-size:30px; color:#333536; line-height:108px;  } 
.diqulist ul li a.diquxuanzhong{ background:url(../wximages/xiquxuanzhong.png) right center no-repeat}


.erjidaohang02{ height:100px; background:url(../wximages/listtopdixian.png) bottom left repeat-x}
.erjidaohang02 ul li{ float:left; width:33%; line-height:100px; text-align:center; font-size:32px; color:#000}
.erjidaohang02 ul li a{ color:#000; display:block;width:100%; line-height:100px; text-align:center}
.erjidaohang02 ul li a:hover{ background:url(../wximages/listtopdixian02.png) bottom left repeat-x; color:#00afed} 
.erjidaohang02 ul li a.erjidaohangdangqian{ background:url(../wximages/isttopdixian02.png)  bottom left repeat-x; color:#00afed}
.erjidaohang03{ height:100px; background:url(../wximages/listtopdixian.png) bottom left repeat-x}
.erjidaohang03 ul li{ float:left; width:25%; line-height:100px; text-align:center; font-size:32px; color:#000}
.erjidaohang03 ul li a{ color:#000; display:block;width:100%; line-height:100px; text-align:center}
.erjidaohang03 ul li a:hover{ background:url(../wximages/listtopdixian02.png) bottom left repeat-x; color:#00afed} 
.erjidaohang03 ul li a.erjidaohangdangqian{ background:url(../wximages/listtopdixian02.png)  bottom left repeat-x; color:#00afed}
.erjidaohangdangqian{ background:url(../wximages/listtopdixian02.png) bottom left repeat-x; color:#00afed; height:100px;}
.tishiwenzi2{ color:red; font-size:32px; line-height:32px;font-family:微软雅黑; padding:40px}
.nonedatanew{
	width:100%;text-align:center;font-size:32px;margin-top:100px;
}
.zhiyuannexiangxi02{ font-size:28px; border:1px solid #80b7dd; background:#fff; margin-bottom:15px;}
.huodongnerong{ border-bottom:1px solid #80b7dd; border-left:8px solid #80b7dd; padding-left:8px;line-height:80px;color:#64b6d4;}
.hdxiangxinerong{ padding:20px; line-height:40px; color:#666666}
.gongchengxuke{ background:#ffffff; border-collapse:collapse; border:1px solid #ccd4d9}
.zhiyuannexiangxi{ font-size:28px; border:1px solid #80b7dd; height:80px; background:#fff; margin-bottom:15px;}
.zhiyuannexiangxi_left{ width:35%; float:left; color:#64b6d4; border-left:8px solid #80b7dd; height:80px; padding-left:10px; line-height:80px;}
.zhiyuannexiangxi_right{ width:60%; float:right; text-align:right; color:#666666; line-height:80px; padding-right:10px;}
.xiangxileftbiaoti{ font-size:30px; color:#0360ae;border-bottom:1px solid #ccd4d9;border-right:1px solid #ccd4d9; text-align:center}

.shtpic{ height:50px; line-height:50px; background:url(../wximages/hst.png) left center no-repeat; padding-left:50px; font-size:22px;}
.cxtingpic{ height:50px; line-height:50px; background:url(../wximages/cxt.png) left center no-repeat; padding-left:50px; font-size:22px;}
.jktpic{ height:50px; line-height:50px; background:url(../wximages/jktpic.png) left center no-repeat; padding-left:50px; font-size:22px;}
.bstpic{ height:50px; line-height:50px; background:url(../wximages/bst.png) left center no-repeat; padding-left:50px; font-size:22px;}
.bianmingmian{ padding:30px;}
.shtlist{ margin-bottom:20px; border-bottom:1px dashed #cecccc; padding-bottom:20px;}
.shtlist ul li{ float:left; width:25%; margin:22px; height:90px;}
.shtlist ul li a{ display:block; width:100%; height:83px; background:#add654; text-align:center; color:#fff; text-decoration:none; padding-top:7px; font-size:18px;}

.cxtlist{ margin-bottom:20px; border-bottom:1px dashed #cecccc; padding-bottom:20px;}
.cxtlist ul li{ float:left; width:25%; margin:22px; height:90px;}
.cxtlist ul li a{ display:block; width:100%; height:83px; background:#19a6fe; text-align:center; color:#fff; text-decoration:none; padding-top:7px; font-size:18px;}


.jktlist{ margin-bottom:20px; border-bottom:1px dashed #cecccc; padding-bottom:20px;}
.jktlist ul li{ float:left; width:25%; margin:22px; height:90px;}
.jktlist ul li a{ display:block; width:100%; height:83px; background:#fe8019; text-align:center; color:#fff; text-decoration:none; padding-top:7px; font-size:18px;}


//最多跑一次评论css
a,ul,li{ list-style-type:none; padding:0; margin:0; text-decoration:none}
.pinglunkuang{
    margin:10px auto;
    width: 98%;
}
.fabiaopltext1{ width:100%; float:left; margin:0px; padding:0px;}
.fabiaopltext1 img{ max-width:100%;}
.fabiaopltext{ height:40px; color:#c2c3c5; }
.fabiaopltextLeft{ float:left; font-size:20px; color:#111}
.fabiaopltextLeft span{ font-size:12px; color:#c2c3c5; padding-left:10px}
.fabiaopltextRight{ float:right; font-size:13px; line-height:40px}
.fbplkuang{  border:1px solid #379be9; margin-bottom:10px;}
.plwenben{ height:102px; border-bottom:1px solid #dddddd; padding:5px}
.wbquyu{ padding:0; margin:0; width:100%; font-family:微软雅黑; color:#666; height:72px; border:none}

.shuruzhelanLeftPic{ float:left; color:#379be9; padding:0 10px; font-size:14px; width:94%;}
.shuruzhelanLeftPic p{ float:left; width:55%; overflow:hidden; text-overflow:ellipsis; height:40px; line-height:40px; padding:0px; margin:0px;  }
.shuruzhelanLeftPic span{ color:#666; float:right; width:45%; text-align:right; height:40px; line-height:40px; }

.shuruzhelanRight{ text-align:center; width:94%; margin:0px 3%; float:left; margin-bottom:10px;}
.shuruzhelanRight a{ display:block; width:100%; background:#379be9; height:40px; font-family:微软雅黑; line-height:40px; color:#fff; text-align:center; font-size:15px;}
.shuruzhelanRight a:hover{ background:#8fc31f}

.plzhanshilan{ height:45px; border-bottom:1px solid #dddddd; margin-bottom:10px;}
.plzhanshilan ul li{ float:left; line-height:45px; width:80px; text-align:center; font-size:16px;}
.plzhanshilan ul li.plmoren{ border-bottom:2px solid #2274d0}
.pinlunren{ padding-bottom:15px; border-bottom:1px solid #ddd; margin-bottom:10px;}
.pinlunrenLeft{ width:50px; float:left}
.pinlunrenLeft img{ border-radius: 100%;overflow: hidden; width:40px; height:40px}
.pinlunnerong{ width:100%; float:left}
.pinlunrenName{ color:#379be9; font-size:12px; height:30px; line-height:30px;}
.pinlunrenName span{ padding-left:10px; color:#999999}
.pjtext{ font-size:14px; color:#111; line-height:18px;}
.huifu{ padding-top:10px}
.dianzan{ width:50px; float:left;}
.dianzan a{display:block; width:50px; padding-left:15px; color:#999; font-size:12px;}
.dianzan a:hover{ background:url(../wximages/dz02.gif) left center no-repeat;}
.ndianzan{ display:block; width:50px; background:url(../wximages/dz.gif) left center no-repeat; padding-left:15px; color:#999; font-size:12px;}
.ydianzan{ display:block; width:50px; background:url(../wximages/dz02.gif) left center no-repeat; padding-left:15px; font-size:12px;}
.huifuTEXT{ width:80px; float:left;}
.huifuTEXT a{ display:block; width:50px; background:url(../wximages/hu.gif) left center no-repeat; padding-left:20px; color:#999; font-size:12px;}
.huifuTEXT a:hover{ background:url(../wximages/hu02.gif) left center no-repeat;}